{% include "calendario.html" %}
<div class="col-xs-8">
    <h1>Actividad Destacada</h1>
    <div class="well">
        <div class="panel panel-success">
            <div class="panel-heading">
                Actividad To Guapa
            </div>
            <div class="panel-body">
                En estaactividad to guapa haremos cosas to guapas
            </div>
        </div>
    </div>
</div>

<div class="col-xs-8">
    <h1>Actividades</h1>
    <div class="well">
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Actividad Menos Guapa pero guapa igual
                </div>
                <div class="panel-body">
                    En esta actividad to guapa haremos cosas to guapas aun que no demasiado
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    Actividad Menos Guapa pero guapa igual
                </div>
                <div class="panel-body">
                    En esta actividad to guapa haremos cosas to guapas aun que no demasiado
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    Actividad Menos Guapa pero guapa igual
                </div>
                <div class="panel-body">
                    En esta actividad to guapa haremos cosas to guapas aun que no demasiado
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-8">
    <h1>Actividades Pasadas</h1>
    <div class="well">
        <div class="panel-group">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Actividad que estuvo guapa pero ya se paso
                </div>
                <div class="panel-body">
                    Se paso, te jodes
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Actividad que estuvo guapa pero ya se paso
                </div>
                <div class="panel-body">
                    Se paso, te jodes
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Actividad que estuvo guapa pero ya se paso
                </div>
                <div class="panel-body">
                    Se paso, te jodes
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Actividad que estuvo guapa pero ya se paso
                </div>
                <div class="panel-body">
                    Se paso, te jodes
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Actividad que estuvo guapa pero ya se paso
                </div>
                <div class="panel-body">
                    Se paso, te jodes
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Actividad que estuvo guapa pero ya se paso
                </div>
                <div class="panel-body">
                    Se paso, te jodes
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Actividad que estuvo guapa pero ya se paso
                </div>
                <div class="panel-body">
                    Se paso, te jodes
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Actividad que estuvo guapa pero ya se paso
                </div>
                <div class="panel-body">
                    Se paso, te jodes
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Actividad que estuvo guapa pero ya se paso
                </div>
                <div class="panel-body">
                    Se paso, te jodes
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Actividad que estuvo guapa pero ya se paso
                </div>
                <div class="panel-body">
                    Se paso, te jodes
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Actividad que estuvo guapa pero ya se paso
                </div>
                <div class="panel-body">
                    Se paso, te jodes
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Actividad que estuvo guapa pero ya se paso
                </div>
                <div class="panel-body">
                    Se paso, te jodes
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Actividad que estuvo guapa pero ya se paso
                </div>
                <div class="panel-body">
                    Se paso, te jodes
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Actividad que estuvo guapa pero ya se paso
                </div>
                <div class="panel-body">
                    Se paso, te jodes
                </div>
            </div>
        </div>
    </div>
</div>
