
<div class="form-group">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>Socios</h1>
    </div>
</div>
<!-- Presidente y vice -->
<div class="form-group">
    <div class="col-sm-4 col-sm-offset-2 form-group">
        <div class="well form-horizontal">
            <div class="col-sm-6">
                <img class="image-socio" src="https://upload.wikimedia.org/wikipedia/en/1/14/Ralph_Wiggum.png"/>
            </div>
            <div class="col-sm-6">
                <span>Nombre: </span>
                <p><label class="label-control">Daniel Garoz Solis</label></p>
            </div>
            <div class="col-sm-6">
                <span>Status: </span>
                <p><label class="label-control">Presidente</label></p>
            </div>
            <div class="col-sm-6">
                <span>Mail: </span>
                <p><label class="label-control">garoz.daniel@gmail.com</label></p>
            </div>
            <div class="col-sm-6">
                <span>Telefono: </span>
                <p><label class="label-control">611463460</label></p>
            </div>
            <div class="col-sm-8">
                <span>Grado: </span>
                <p><label class="label-control">Ingenieria Telematica</label></p>
            </div>
            <div class="col-sm-4">
                <span>Campus: </span>
                <p><label class="label-control">Fuenlabrada</label></p>
            </div>
            <div class="col-sm-12">
                <span>Descripcion: </span>
                <p><label class="label-control text-justify">Estoy locamente enamorado de Wendoloinde y como la toqueis o mireis los novatos os asasino!</label></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 form-group">
        <div class="well form-horizontal">
        </div>
    </div>
</div>
<!-- Secretaria y tesorera -->
<div class="form-group">
    <div class="col-sm-4 col-sm-offset-2 form-group">
        <div class="well form-group">

        </div>
    </div>
    <div class="col-sm-4 form-group">
        <div class="well form-group">

        </div>
    </div>
</div>
<!-- Vocales -->
<div class="form-group">
    <div class="col-sm-4 col-sm-offset-2 form-group">
        <div class="well form-group">

        </div>
    </div>
    <div class="col-sm-4 form-group">
        <div class="well form-group">

        </div>
    </div>
</div>
<!-- hermanos -->
<div class="form-group">
    <div class="col-sm-3">
        <div class="well form-group">

        </div>
    </div>
    <div class="col-sm-3">
        <div class="well form-group">

        </div>
    </div>
    <div class="col-sm-3">
        <div class="well form-group">

        </div>
    </div>
    <div class="col-sm-3">
        <div class="well form-group">

        </div>
    </div>
</div>
